<launch>
  <node name="IMU" pkg="IMU" type="MPU6050.ino" output="screen"/>
  <node name="Kalman" pkg="Kalman_IMU" type="Kalman_IMU.py" output="screen"/>
  <node name="rqtplot" pkg="rqt_plot" type="rqt_plot"/>
  <node name="rosserial" pkg="rosserial_python" type="serial_node.py" output="screen"/>
  <param name="port" value="/dev/ttyUSB0"/>
  <param name="baud" value="115200"/>
</launch>
